#background {
	background-color: #EFF9F0;
}
h1 {
	font-size: 130px;
	text-align: center;
	color: orange;
	margin: 15;
	margin-top: 0;
}

.kitty {
	display: block;
	margin: auto;
	width: 71%;

}

.Cat {
	display: block;
	margin: auto;
	width: 31%;
}

.col-md-6{
	border-style: solid;
	border-width: 5px;
	border-color: orange;
}

.btn1{
	font-size: 70px;
}

.btn2{
	font-size:70px;
}

.btn3{
	font-size:70px;
}
.donate {
	text-align: center;
	font-size: 45px;
	margin: 0;

}
.links {
	text-align: center;
	font-size: 40px;
}